body{
    width: 1200px;
    height: 730px;
    background-color: #F3F5FC;
}
#imagemAlura{
    margin-left: 50px;
}

#iniciarJogo{
    display: block;
    margin-top: 250px;
    margin-bottom:10px;
    margin-left: 550px;
    height: 105px;
    width: 317px;
    border: none;
    border-radius: 24px;
    padding: 24px;
    background: #1c4c88;
    color: white;
}

#adicionarPalavra{
    display: block;
    margin-top: 0px 300px;
    margin-left: 550px;
    height: 105px;
    width: 317px;
    border: none;
    border-radius: 24px;
    padding: 24px;
    background: #d8dde2;
    color: black;
}
#iniciarJogo:hover{
    background: #4171ac;
}
#adicionarPalavra:hover{
    background: #d9e6f3;
}

#palavraNova{
    margin-top: 50px;
    margin-left: 300px;
    height: 100px;
    width: 300px;
    border:none;
    background: #F3F5FC;
}

#palavraNova:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}

#salvar{
    margin-left: 400px;
    height: 50px;
    width: 250px;
    margin-top: 440px;
    border-radius: 20px;
    border-color: #1c4c88;
    padding: 10px;
    background: #1c4c88;
    color: white;  
}

#divNovo{
    text-align: center;
    display: inline;
}

#novoJogo{
    margin-left: 450px;
    height: 50px;
    width: 250px;
    border-radius: 20px;
    border-color: #1c4c88;
    padding: 10px;
    background: #1c4c88;
    color: white;
}
#cancelar{
    margin-left: 30px;
    height: 50px;
    width: 250px;
    border-radius: 20px;
    border-color: #1c4c88;
    padding: 10px;
    background: #d8dde2;
    color: #1c4c88;
}

#desistir{
    margin-left: 30px;
    height: 50px;
    width: 250px;
    border-radius: 20px;
    border-color: #1c4c88;
    padding: 10px;
    background: #d8dde2;
    color: #1c4c88;
}

